@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #000000;
    --primary: #12D18E;
    --primary-foreground: #FFFFFF;
    --surface: #FAFAFA;
    --border: #E5E5E5;
    --muted: #737373;
    --error: #EF4444;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000000;
      --foreground: #FFFFFF;
      --primary: #12D18E;
      --primary-foreground: #FFFFFF;
      --surface: #171717;
      --border: #262626;
      --muted: #A3A3A3;
      --error: #EF4444;
    }
  }
}